/**
 * General elements
 */
body {
  color: #333;
  font-family: arial, sans-serif;
}
 
/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 10px;
}
 
 
/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
}
.sitelogo {
  height: 120px;
  width: 150px;
  margin-left: -10px;
}

.sitetitle {
  position: absolute;
  top: 6px;
  left: 150px;
  font-size: 48px;
}
 
.siteslogan {
  position: absolute;
  top: 65px;
  left: 150px;
  font-style: italic;
  color: #666;
}


/*
*menu
*/
.navbar {display block;font-family:Verdana;padding:0.5em;list-style-type: none; height:30px;margin-bottom:50px;}
.navbar a {background-color:#999;color:#fff;padding:0.2em; float:left; margin-right:20px;text-decoration:none;margin-bottom:10px;}
.navbar a:hover {background-color:#666;}
.navbar a.selected  {background-color:#145090;color:#fff;padding:0.2em; float:left; margin-right:20px;text-decoration:none;}
 
/**
 * Layout for main
 */
#main {
  min-height: 20em;
}
 
 
/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
 
.sitefooter {
  color: #666;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

footer.home-footer section img {
  margin-right:27px;
}

.dbtable table {
  width: 100%;
  border-collapse: collapse;
}

.dbtable td, th {
  border: 3px solid #ccc;
  padding: 10px;
  text-align: center;
}

.dbtable .rows {
  font-size: 1.2em;
  float:right;

}

.dbtable .pages {
  font-size: 1.2em;
  text-align: center;
}